# Automatically add new line to end of all files on save.
[*]
insert_final_newline = true
trim_trailing_whitespace = true

# Four-space tabs in everything else
[*.*]
indent_style = tab
indent_size = 4

# Six spaces for indentation in .asm files
[*.asm]
indent_style = tab
indent_size = 4

[*.md]
indent_style = space
indent_size = 2
